<div class="about-container">
    <!-- Professional Profile Cart -->
    <div class="cart profile-cart">
      <img src="assets/profilepicturesample.jpg" alt="Profile Image" class="profile-image" />
      <div class="profile-info">
        <h1>{{name}}</h1>
        <h2>Dot Net Developer</h2>
        <p>{{professionalDescription}}</p>
        <button (click)="viewMore()">View Projects</button>
      </div>
    </div>
  
    <!-- Personal Interests Cart -->
    <div class="cart interests-cart">
      <img src="assets/profilepicturesample.jpg" alt="Gym Image" class="gym-image" />
      <h2>Gym Enthusiast</h2>
      <p>{{personalDescription}}</p>
      <button (click)="seeMore()">Fitness Journey</button>
    </div>
  </div>
  