.about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-image: url("/assets/AboutBg.jpg");
  background-size: 100vw 100vh; /* Adjust background size to full screen */
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh; /* Add height to container to ensure full screen coverage */
}
  
  .cart {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; 
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }


@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.cart:hover {
  animation: bounce 0.5s ease;
}

  .profile-cart {
    flex-direction: column;
    text-align: center;
    width: 100%; 
    margin-right: auto;
     /* Add glass morphism effect */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #fff;
  }
  
  .interests-cart {
    flex-direction: column;
    text-align: center;
    width: 100%; 
    margin-left: auto;
     /* Add glass morphism effect */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #fff;
  }
  
  .profile-image, .gym-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .profile-info {
    margin-left: 20px;
  }
  
  button {
    background-color: #235923;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .about-container {
      flex-direction: column;
    }
  
    .profile-cart, .interests-cart {
      width: 50%; /* Adjust width for larger screens */
    }
  }