<div class="about-container">
    <!-- Professional Profile Cart -->
    <div class="cart profile-cart">
      <img src="assets/IMG_34471.png" alt="Profile Image" class="profile-image" />
      <div class="profile-info">
        <h2>Software Developer</h2>
        <p>{{professionalDescription}}</p>
        <button (click)="viewMore()" routerLink="/portfolio">View Projects</button>
      </div>
    </div>
  
    <!-- Personal Interests Cart -->
    <div class="cart interests-cart">
      <img src="assets/Gym1.jpg" alt="Gym Image" class="gym-image" />
      <h2>Gym Freak</h2>
      <p>{{personalDescription}}</p>
      <button (click)="seeMore()" routerLink="/gymalbumn">Fitness Journey</button>
    </div>
  </div>
  