.navbar {
    padding: 1rem 2rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    color: #337ab7;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: black;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .fixed-right
  {

    position: relative !important;
    right: 0;
    top: 0;
    height: auto;
    width: auto;
    z-index: 1030; /* Ensure it is on top of other elements */
  }

  .navbar-nav {
    margin-left: auto; /* Push items to the right */
  }

  .navbar-toggler {
    margin-left: auto; /* Aligns the toggle button to the right */
  }
  

  .icon {
    border: 2px solid white; /* White border */
    background-image: url('/src/app/img/burger-menu-left.svg'); /* Adjust path as needed */
    background-size: contain; /* Ensure the image fits the button */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: center; /* Center the image */
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  .navbar-toggler:focus {
    box-shadow: none; /* Remove default focus shadow */
  }
  
  .navbar-toggler-icon[_ngcontent-ng-c3214578677]
  {
    background-image: none;
  }