.navbar {
    padding: 1rem 2rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    color: #337ab7;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: black;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .fixed-right
  {
    justify-content: right;
  }