<div class="album-container">
    <video autoplay muted playsinline loop id="background-video">
        <source src="/assets/Gymalbumnbgvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    
    <div class="album-card">
      <div class="photo-container">
        <img src="assets/Fitness Journey/27_07_2024-01.jpg" alt="photo">
      </div>
      <div class="photo-info">
        <p>27.07.2024</p>
      </div>
    </div>
    <div class="album-card">
      <div class="photo-container">
        <img src="assets/Fitness Journey/19_01_2024-02.jpg" alt="photo">
      </div>
      <div class="photo-info">
        <p>19.01.2024</p>
      </div>
    </div>
    <!-- Add more album-cards here -->
    <div class="album-card">
        <div class="photo-container">
          <img src="assets/Fitness Journey/02_01_2024-03.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>02.01.2024</p>
        </div>
      </div>

      <div class="album-card">
        <div class="photo-container">
          <img src="assets/Fitness Journey/20_12_2023-04.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>20.12.2023</p>
        </div>
      </div>

      <div class="album-card">
        <div class="photo-container">
          <img src="assets/Fitness Journey/06_11_2023-05.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>06.11.2023</p>
        </div>
      </div>

      <div class="album-card">
        <div class="photo-container">
          <img src="assets/Fitness Journey/20_09_2022-07.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>20.09.2022</p>
        </div>
      </div>

      <div class="album-card">
        <div class="photo-container">
          <img src="assets/Fitness Journey/19_10_2021-08.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>19.10.2021</p>
        </div>
      </div>

  </div>
