<div class="album-container">
    <video autoplay muted playsinline loop id="background-video">
        <source src="/assets/Gymalbumnbgvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    
    <div class="album-card">
      <div class="photo-container">
        <img src="assets/profilepicturesample.jpg" alt="photo">
      </div>
      <div class="photo-info">
        <p>01.01.2002</p>
      </div>
    </div>
    <div class="album-card">
      <div class="photo-container">
        <img src="assets/profilepicturesample.jpg" alt="photo">
      </div>
      <div class="photo-info">
        <h2>albumn</h2>
        <p>01.01.2002</p>
      </div>
    </div>
    <!-- Add more album-cards here -->
    <div class="album-card">
        <div class="photo-container">
          <img src="assets/profilepicturesample.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>01.01.2002</p>
        </div>
      </div>

      <div class="album-card">
        <div class="photo-container">
          <img src="assets/profilepicturesample.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>01.01.2002</p>
        </div>
      </div>

      <div class="album-card">
        <div class="photo-container">
          <img src="assets/profilepicturesample.jpg" alt="photo">
        </div>
        <div class="photo-info">
          <p>01.01.2002</p>
        </div>
      </div>
  </div>
