<div class="jumbotron jumbotron-fluid bg-cover" 
     style="background-image: url('https://picsum.photos/1500/750?brightness=80&saturation=10&hue=200-210&blur=10'); 
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.5);">
  <div class="container">
    <h1 class="display-3" id="title"  style="color: #fff;">Welcome to Anandan Portfolio</h1>
    <p class="lead" style="color: #fff;">Explore my projects and experiences</p>
    <button class="btn btn-primary btn-lg" routerLink="/about">Get Started</button>
  </div>
</div>

