
.jumbotron {
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem;
  background-color: #f5f5f5;
}

.display-3 {
  font-weight: bold;
  font-size: 3rem;
  color: rgba(37, 31, 31, 0.871);
}

.lead {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(37, 31, 31, 0.871);
}

.btn-primary {
  background-color: #d7d736;
  border-color: #d7d736;
  color: #232323;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #d7d736;
  border-color: #d7d736;
  color: #232323;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}